<h1><%= @shelter.name %> Adoptable Pets</h1>
<ul id="shelter-pets-index">
  <% @pets.each do |pet| %>
    <%= image_tag(pet.image, method: :get) %>
    <h3>Name: <%= pet.name %></h3>
    <p>Approximate Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
  <% end %>
</ul>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
