<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %> Adoptable Pets</h1>
<%= link_to "All Pets", "/pets" %>
<%= link_to "All Shelters", "/shelters" %>
<ul id="shelter-pets-index">
  <% @pets.each do |pet| %>
    <%= image_tag(pet.image, method: :get) %>
    <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
    <p>Approximate Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p><%= link_to "Edit #{pet.name}'s Info", "/pets/#{pet.id}/edit" %></p>
    <p><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
  <% end %>
</ul>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
