<h1><%= @shelter.name %></h1>
<%= link_to "All Pets", "/pets" %>
<%= link_to "All Shelters", "/shelters" %>
<%= link_to "Pets", "/shelters/#{@shelter.id}/pets" %>

<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>

<%= link_to "Update Shelter", "#{@shelter.id}/edit"  %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
