<h1><%= @pet.name %></h1>

<%= image_tag(@pet.image, method: :get) %>
<p>Name: <%= @pet.name %></p>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.approx_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.adoption_status %></p>

<%= link_to "Update Pet", "#{@pet.id}/edit"  %>
<%= link_to "Delete Pet", "#{@pet.id}", method: :delete%>
